.shop-item{
    
    align-items: center;
    justify-content: center;

    .item-image{
        position: relative;
        display: flex;
        align-items: center;
        height: 350px;
        width: 22vw;
        
         .item-box{
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
         }

       
    
    

         .add-to-cart{
            position: absolute;
            width: 100%;
            background: grey;
            height: 20%;
            /* text-align: center; */
            align-items: center;
            display: flex;
            justify-content: center;
            visibility: hidden;
        }
    }
    &:hover .add-to-cart{
        visibility: visible;
        cursor: pointer;
    } 
}
