@mixin shrink {
    transform: translate(0,-20px);
            font-size: 0.8rem;
            opacity: 1;
}

    

.input-field{
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;
    
    .input{
        border: none;
        border-bottom: 1px solid black;
        width: 100%;
        padding: 10px 10px 10px 6px;
        &:focus{
            outline: none;
        }
        &:focus ~ .label{
            @include shrink;
        }
    }
    
    .label{
        position: absolute;
        left: 6px;
        opacity: 0.7;

        &.shrink{
            @include shrink;
        }
        
        
        
    
    }
    
}