.checkout-items{
    font-family: 'Oswald', sans-serif;
    display: flex;
  
    padding: 10px 0;
    border-bottom: 1px solid black;
    align-items: center;
    :not(:last-child){
        width: 23%;
    }

    .item-image{
        padding-right: 20px;
        img{
        width: 100%;
       
        }
    }
    .item-quantity{
        display: flex;
        padding-left: 10px;

        div{
            cursor: pointer;
        }
    }
    .item-price{
        padding-left: 25px;
    }
    .item-remove{
        cursor: pointer;
        padding-left: 15px;
    }
    

}