.login{
    width: 35%;
   
    .login-container{
        h2{
            font-family: 'Archivo Narrow', sans-serif;
        }
        p{
            font-family: 'Oswald', sans-serif;
        }
       
    form{
        padding: 40px 0;
        
    }

    .button-container{
        display: flex;
        justify-content: space-between;
    }
    }
    
}