.user-dropdown{
    padding: 10px 5px;
    width: 100px;
    border: 1px solid grey;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: center;
    background-color: white;
    bottom: -115px;
align-items: center;
left: -65px;
height: 100px;
    .user-dropdown-items{
        margin-bottom: 10px;
        cursor: pointer;
         &:hover{
             border-bottom: 1px solid grey;
             color: grey;
         }
         &:active{
             font-size: 0.87rem;
             
         }

    }
}